fastapi
uvicorn
gunicorn
python-dotenv
pandas
numpy
scikit-learn
httpx<0.26.0
supabase==2.3.4
python-multipart
starlette
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt
razorpay
sendgrid
twilio
aiohttp
